@font-face {
  font-family: "Otterco-SemiBold";
  src: url("./font/Otterco-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Otterco-Regular";
  src: url("./font/Otterco-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Otterco-Light";
  src: url("./font/Otterco-Light.otf") format("opentype");
}

:root {
  scroll-behavior: smooth !important;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("./assets/bg.png");
  background-size: 100vh;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

* {
  font-family: "Poppins", serif;
}

/* customize scrollbar  */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #dfdfdf;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd !important;
  border-radius: 20px;
}
.mainpage {
  width: 100%;
  height: 100vh;
  padding-bottom: 15vh;
  border-radius: 0 0 50px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dfdfdf;
  background-image: url("./assets/bg.png");
  /* background-size: 30px 30px; */
}
/* .mainpage svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  opacity: 0.8;
  /* z-index: 1;
} */
/* .mainpage svg * {
  height: 100% !important;
  width: 100% !important;
} */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 5vw;
  z-index: 2;
  background-color: transparent;
}
.leftside {
  display: flex;
  align-items: center;
  gap: 10px;
}
.leftside p {
  margin-right: 20px;
}
.rightside {
  display: flex;
  align-items: center;
  gap: 10px;
}
.email {
  font-size: 15px;
  font-family: "Otterco-light";
  font-weight: 300;
}
.button {
  padding: 5px 15px;
  background-color: #303030;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
.button-secondary {
  padding: 3px 13px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: black;
}
.rightside * {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.76);
  text-decoration: none;
  position: relative;
}
.rightside span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.459);
  font-size: 17px;
  cursor: default;
}
.rightside a:hover {
  text-decoration: 2px solid rgba(0, 0, 0, 0.76) underline;
}
.pfp {
  height: 200px;
  width: 200px;
  border-radius: 10000px;
  margin-bottom: 5px;
}
.mainheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  position: relative;
  text-align: center;
  margin: 10px 0;
}
.mainheading span {
  font-size: 50px;
  font-family: "Otterco-Regular";
  line-height: 1.1;
  background: linear-gradient(to bottom right, #000000, #575757);
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
.mainheading .star {
  height: 30px;
  width: 30px;
  position: absolute;
  left: -10px;
  top: -10px;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: rotate 6s linear infinite;
}
.mainheading .star2 {
  height: 20px;
  width: 20px;
  position: absolute;
  right: -10px;
  bottom: -10px;
  transform: translate(50%, 50%);
  z-index: 10;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.imagewrapper {
  position: relative;
  margin-bottom: 10px;
  padding: 2px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.568),
    transparent
  );
  border-radius: 10000px;
  margin-top: 10vh;
}
.name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 90%);
  width: max-content;
  background-color: rgba(0, 0, 0, 0.068);
  border-radius: 1000px;
  padding: 7px 12px;
  font-size: 15px;
  animation: move 3s ease-in-out infinite alternate;
}
.mainheading,
.imagewrapper {
  z-index: 2;
}
.crousel {
  padding: 0 5vw !important;
}
.crousel,
.skills {
  border-radius: 0 0 50px 50px;
  position: relative;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  gap: 10px;
  background-image: url("./assets/bg.png");
  background-color: white;
}
.crousel img {
  width: 120px;
  opacity: 0.8;
  position: relative;
  z-index: 200000;
}
.crousel img:nth-child(2) {
  filter: invert(1);
}
.crousel::before,
.skills::before {
  content: "";
  height: 100px;
  width: 100px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1000px;
  z-index: 1000;
  background-image: url("./assets/bg.png");
  background-size: 100vh;
}
.crousel::after,
.skills::after {
  content: "";
  height: 100px;
  width: 100px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1000px;
  background-image: url("./assets/bg.png");
  background-size: 100vh;
  z-index: 1000;
}
.about,
.projects {
  width: 100%;
  background-image: url("./assets/bg.png");
  background-color: #dfdfdf;
  position: relative;
}
.about::before,
.projects::before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50px);

  background-image: url("./assets/bg.png");
  background-size: 100vh;
  z-index: 1;
}
.about::after,
.projects::after {
  content: "";
  height: 50px;
  width: 50px;
  background-color: #dfdfdf;

  background-image: url("./assets/bg.png");
  background-size: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50px);
  z-index: 1;
}
@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .mainheading span {
    font-size: 40px;
  }
}
@media (max-width: 415px) {
  .mainheading span {
    font-size: 35px;
  }
}
@media (max-width: 365px) {
  .mainheading span {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .leftside {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 700px) {
  .crousel {
    gap: 30px 50px;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 120px 120px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 220px;
    gap: 30px 30px;
  }
  .crousel img {
    width: 100px;
  }
}

@media (max-width: 330px) {
  .crousel img {
    width: 80px;
  }
  .crousel {
    gap: 30px 10px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10vh 5vw;
  /* border-radius: 0 0 50px 50px; */
  background-image: url("./assets/bg.png");
}
.about h1 {
  font-size: 40px;
  font-family: "Otterco-Regular";
  line-height: 1.1;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  background-clip: text;
  color: transparent;
  margin-bottom: 10px;
}
.about * {
  text-align: center;
}
.about p {
  font-size: 15px;
  line-height: 1.4;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  background-clip: text;
  color: transparent;
  width: 50vw;
  margin: 0;
}
@media (max-width: 780px) {
  .about p {
    width: 70vw;
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .about p {
    width: 80vw;
  }
}
@media (max-height: 650px) {
  .imagewrapper {
    margin-top: 5vh;
  }
  .mainpage {
    height: auto;
  }
}
@media (min-height: 700px) {
  .mainpage {
    height: auto;
  }
}
.about {
  border-radius: 0 0 50px 50px;
}
.skills > * {
  position: relative;
  z-index: 10000000000000000;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 10vh 5vw;
  position: relative;
}
.skillsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-auto-rows: 250px;
  grid-auto-rows: 250px; */
  gap: 8px;
  margin-top: 5vh;
}
.skill {
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.4s ease;
  justify-content: start;
  position: relative;
}

.toppart img {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 144, 180);
  border-radius: 10000px;
  padding: 5px;
  object-fit: cover;
}

.toppart {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.skillName {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 1.3;
}

.details > p:nth-child(2) {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.671);
}
.skillDetails {
  flex: 5;
  font-size: 14px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.87);
}
/* .skill:hover {
  background-color: rgb(223, 223, 223);
} */
.skillWrapper {
  background-color: rgb(240, 240, 240);
  padding: 3px;
  border-radius: 13px;
  position: relative;
  overflow: hidden;
  z-index: 50;
}
.skill {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
}
.follower {
  height: 200px;
  width: 200px;
  filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1000px;
  transform: translate(-50%, -50%);
  z-index: 75;
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.3s ease;
}
.skillWrapper:has(.skill:hover) .follower {
  background-color: rgba(0, 0, 0, 0.13);
}
.skills > h1 {
  font-size: 40px;
  font-family: "Otterco-Regular";
  line-height: 1.1;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  background-clip: text;
  color: transparent;
  margin-bottom: 10px;
}
.skills > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.705);
}
@media (max-width: 500px) {
  .skills > p > br {
    display: none;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 5vw;
  border-radius: 0 0 50px 50px;
}
.projects > h1 {
  font-size: 40px;
  font-family: "Otterco-Regular";
  line-height: 1.1;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}
.projects > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.705);
}
.mainButton {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to bottom right, #131313, #353535);
  border: none;
  border-radius: 10000px;
  font-weight: 300;
  /* letter-spacing: 0.5px; */
  position: relative;
  cursor: pointer;
}
.mainButton p {
  overflow: hidden;
}
.mainButton > p span {
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: inline-block;
}
.normalp span:nth-child(2) {
  transition-delay: 0.1s;
}
.normalp span:nth-child(3) {
  transition-delay: 0.2s;
}
.normalp span:nth-child(4) {
  transition-delay: 0.3s;
}
.normalp span:nth-child(5) {
  transition-delay: 0.4s;
}
.normalp span:nth-child(6) {
  transition-delay: 0.5s;
}
.normalp span:nth-child(7) {
  transition-delay: 0.6s;
}
.mainButton:hover span:not(.absolutep span) {
  transform: translateY(50px);
}
.absolutep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  overflow: hidden;
}

.absolutep span {
  display: inline-block;
  transform: translateY(-50px);
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.absolutep span:nth-child(2) {
  transition-delay: 0.1s;
}

.absolutep span:nth-child(3) {
  transition-delay: 0.2s;
}

.absolutep span:nth-child(4) {
  transition-delay: 0.3s;
}

.absolutep span:nth-child(5) {
  transition-delay: 0.4s;
}

.absolutep span:nth-child(6) {
  transition-delay: 0.5s;
}

.absolutep span:nth-child(7) {
  transition-delay: 0.6s;
}

.mainButton:hover .absolutep span {
  transform: translateY(0px);
}
.projectsGrid {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 230px 230px;
  gap: 10px;
  max-width: 800px;
  margin-top: 10vh;
}
.projectsGrid > div {
  border-radius: 15px;
  cursor: pointer;
}

.projectone {
  grid-column: span 3;
  background-color: rgb(255, 255, 255);
  background-image: url("./assets/crousel-logo-three.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.projecttwo {
  background-color: white;
  background-image: url("./assets/crousel-logo-one.png");
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;

  grid-column: span 2;
}
.projectthree {
  background-color: white;
  background-image: url("./assets/mg.png");
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
  grid-column: span 2;
}
.projectfour {
  grid-column: span 3;
  background-color: white;
  background-image: url("./assets/ta.png");
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
}

.projectsGrid > div > a {
  opacity: 0;
  transition: all 0.4s ease;
  background-color: rgba(255, 255, 255, 0.911);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.projectsGrid > div > a {
  text-decoration: none !important;
}

.projectsGrid > div:hover > a {
  opacity: 1;
}
.projectsGrid h1 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 10px;
  color: black;
}
.projectsGrid p {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.767);
}
.projectsGrid h1 span {
  font-size: 13px;
  color: gray;
}
.projectinfo > span {
  font-size: 12px;
  margin-top: 5px;
  color: grey;
}
@media (max-width: 820px) {
  .projectsGrid {
    grid-template-rows: 270px 270px;
  }
}
@media (max-width: 720px) {
  .projectsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    justify-items: stretch;
    gap: 10px;
    align-items: stretch;
  }
  .projectsGrid > div {
    grid-column: span 1;
  }
  .projectsGrid > div > a {
    padding: 20px;
  }
  .projectsGrid > div > a {
    opacity: 1;
  }
}

.contact {
  background-image: url("./assets/bg.png");
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
.contactlogo img {
  width: 120px;
}
.contactlogo {
  height: 150px;
  width: 150px;
  border-radius: 1000px;
  background: linear-gradient(to bottom, #dfdfdf86, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logowrapper {
  padding: 2px;
  border-radius: 1000px;
  background: linear-gradient(to bottom, #ffffff9a, transparent);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.082);
  margin-bottom: 15px;
}
.contact h1 {
  font-size: 50px;
  font-family: "Otterco-SemiBold";
  line-height: 1.1;
  background: linear-gradient(to bottom right, #000000, #4b4b4b);
  background-clip: text;
  color: transparent;
  letter-spacing: -0.5px;
  text-align: center;
  max-width: 90vw;
}
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.buttons a {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to bottom right, #131313, #353535);
  border: none;
  border-radius: 10000px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}
.buttons a:nth-child(2) {
  background: #ffffff46;
  color: black;
  border: 2px solid #353535;
}
.buttons a:hover {
  scale: 1.03;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 5vw;
  background-color: #dfdfdf;
  background-image: url("./assets/bg.png");
  border-radius: 100px 100px 0 0;
}
.footerleft p {
  color: rgba(0, 0, 0, 0.795);
  font-size: 14px;
}
.footerleft span {
  font-size: 16px;
  font-weight: 500;
}
.footerleft a {
  color: black;
}
@media (max-width: 575px) {
  .contactheading1::after {
    content: " project.";
  }
  .contactheading2 {
    display: none;
  }
}
@media (max-width: 610px) {
  .footer {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footer * {
    text-align: center;
  }
}
a {
  text-decoration: none;
}
@media (max-width: 550px) {
  .contact h1 {
    font-size: 40px;
  }
}

.seo-text,
.seo-gallery {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
